*{
    text-decoration: none;
}
.navegacion{
    width: 100hv;
    height: 10vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #024873;
    color: white;    
}
#logo{
    text-decoration: none;
    color: white;
}
#boton_tendencias{
    margin-right: 1rem;
}
#botones_navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnNav{
    margin: 1rem;
}
.lista_nav{
    text-decoration: none;
    list-style-type: none;
}
#Imagen_inicio{
    display: flex;
    flex-direction: column;
    background-image: url('./fondo1.jpg');
    min-height: 90vh;
    background-size: cover;
    color:#d99518;
    background-position: center;
    text-align: center;
    align-items: center;
    h1{
        text-align: center;
        padding-top: 20vh;
        size: 200rem;
    }
    h2{
        text-align: center;
        padding-top: 2vh;
    }
}

.busqueda{
    background-color: #0dc4d9;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f2ca80;
    padding: 2vh;
}

#boton_buscar{
    color:white;
    background-color: #024873;
}

.contenedor_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0dc4d9;
}
.info_equipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin:2rem;
    background-color: white;
}
.texto_equipo{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 22px;
}
.imagen_tarjeta{
    border-radius: 10px;
    border: 1px;
    width:200px;
    height: 300px;
    background-size: cover;
    background-position: center;    
    position: relative;
    overflow: hidden;
    background-color: white;
}
.tarjeta{
    width: 25%;
}
#escudo_boca{
    background-image: url('../assets/escudos/boca.png');
}
#escudo_belgrano{
    background-image: url('./escudos/belgrano.png');
}
#escudo_colon{
    background-image: url('./escudos/colon.png');
}
#escudo_huracan{
    background-image: url('./escudos/huracan.png');
}
#escudo_independiente{
    background-image: url('./escudos/independiente.png');
}
#escudo_newells{
    background-image: url('./escudos/newells.png');
}
#escudo_river{
    background-image: url('./escudos/river.png');
}
#escudo_rosariocentral{
    background-image: url('./escudos/rosariocentral.png');
}
#escudo_sanlorenzo{
    background-image: url('./escudos/sanlorenzo.png');
}
#escudo_talleres{
    background-image: url('./escudos/talleres.png');
}
#escudo_union{
    background-image: url('./escudos/union.png');
}
#escudo_velez{
    background-image: url('./escudos/velez.png');
}





.footer{ width: 100hv;
    height: 10vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #024873;
    color: white;    
}
.btnfooter{
    margin: 1rem;
}